@page "/main"
@using PlayTimeBlazor.Components.Layout
@inject IoTHubService IotHubService
<div class="sidebar">
    <NavMenu/>
</div>
<PageTitle>Arch</PageTitle>

<h1>@statusMessage</h1>

@code {
    private string statusMessage = "Sending message...";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var userId = Guid.NewGuid().ToString();
            await IotHubService.SendCloudToDeviceMessage("gaute-mac", "show-main");
            statusMessage = "Message sent to device!";
        }
        catch (Exception ex)
        {
            statusMessage = $"Failed to send message: {ex.Message}";
        }
    }
}